<h1 mat-dialog-title>Editar Alumno</h1>
<div mat-dialog-content>
    <form [formGroup]="formulario">
        <div class="row">

            <input type="text" placeholder="Nombre" formControlName="nombre">
        </div>
        <div class="row">
            <input type="text" placeholder="Apellido" formControlName="apellido">
        </div>
        <div class="row">
            <input type="text" placeholder="Email" formControlName="email">
        </div>
        <div class="row">
            <input type="text" placeholder="Ci" formControlName="ci">
        </div>
        <div class="row">
            <input type="text" placeholder="Domicilio" formControlName="domicilio">
        </div>
        <div class="row">
            <input type="text" placeholder="Telefono" formControlName="telefono">
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button>Cerrar</button>
    <button mat-flat-button (click)="editarAlumno()">Editar</button>
</div>
